<!DOCTYPE html>
<html lang="en" data-theme="emerald" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yggdrasil</title>
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body >

  </body>
  </html>

<div class="hero min-h-screen" style="background-image: url('/./assets/images/mainTree.jpg');">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <div>
        <h1 class="text-5xl font-sans">Yggdrasil</h1>
      </div>
      <br>
      <p class="mb-5 font-serif">The only social media landing page <br> you will need that will help you connect<br> with others around the world.</p>
      <h1 class="mb-5 text-5xl font-bold">
        <a href="/auth/google" class="btn glass">
            Log In With Google
        </a>
      </h1>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>